/* Reset CSS */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
nav {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand img {
    max-width: 200px;
    height: auto;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #a2090d;
}

/* LGPD Banner */
@keyframes slide-top {
    0% {
        bottom: -10px;
    }
    100% {
        bottom: 10px;
    }
}

.banner-lgpd {
    position: fixed;
    left: 1rem;
    right: 1rem;
    bottom: -400px;
    z-index: 29999999;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}

.banner-lgpd__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    box-sizing: border-box;
    flex-direction: column;
}

@media (min-width: 561px) {
    .banner-lgpd__container {
        flex-direction: row;
    }
}

@media (max-width: 560px) {
    .banner-lgpd__column {
        width: 100%;
    }
}

.banner-lgpd__column p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
    font-weight: 100;
    line-height: 20px;
}

.banner-lgpd__column p a {
    font-family: "Roboto", sans-serif;
    color: #e4032e;
    font-weight: 400;
}

.banner-lgpd__accept {
    font-family: "Roboto", sans-serif;
    background-color: #e4032e;
    color: #ffffff;
    border: 0;
    padding: 0.8rem 2rem;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}

@media (max-width: 560px) {
    .banner-lgpd__accept {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
    }
}

.banner-lgpd.accept {
    display: none;
}



/* Carousel */
.carousel-inner img {
    width: 100%;
    height: auto;
}

/* Banner */
.banner {
    height: 200px;
    color: white;
    background-color: #590303;
}

.banner > h1 {
    padding: 80px 0px 0px 30px;
}


/* Boxes */

.contatos {
    text-align: justify;
    display: flex;
    flex: 1;
    margin-top: -10px;
    padding-top: 20px;
}

.contatos > h2{
    text-align: center;
}

.box, .box2 {
    padding-top: 100px;
    flex: 1;
    height: 400px;
    display: inline-block;
    margin: 0px 5px;
    box-sizing: border-box;
    text-align: center;
}

.box {
    color: #a2090d;
    background-color: white;
}

.box2 {
    background-color: #a2090d;
    color: white;
}

#email > p {
    font-size: larger;
}

#map-icon, #email-icon {
    color: #a2090d;
}

/* Footer */
.info {
    padding-top: 10px;
    margin: 0px 0px;
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: #1d2024;
    color: white;
    display: flex;
}

.horarios, .acesso{
    flex: 1;
    margin-top: -10px;
    padding-top: 20px;
}

.horarios {
    height: 600px;
    background-color: #666666;
}

.acesso {
    background-color: #3a3939;
    text-align: justify;
}

.acesso > h2{
    text-align: center;
}

.arrow-list {
    list-style-type: none;
}

.arrow-list li::before {
    content: "\2192";
    margin-right: 8px;
}

.horarios > p {
    margin-bottom: 50px;
}

