body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Estilizando o cabeçalho */
nav {
    background-color: #fff;
    padding: 15px 25px;
    /* Aumentando o preenchimento para aumentar a altura */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Usando flexbox para alinhar o conteúdo */
    justify-content: space-between;
    /* Alinhando conteúdo à direita */
    align-items: center;
    /* Centralizando verticalmente */
}

.navbar-brand img {
    max-width: 150px;
    /* Ajustando o tamanho das imagens */
    height: auto;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #a2090d;
}

/* Estilizando o carrossel */
.carousel-inner img {
    width: 100%;
    height: auto;
}


/*FOOTER COM INFORMAÇÕES*/

.info {
    padding-top: 10px;
    margin: 0;
    width: 100%;
    min-height: 600px;
    /* Alterei para min-height para permitir ajustes de altura */
    text-align: center;
    background-color: #1D2024;
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
}

.horarios,
.acesso,
.contatos {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.horarios {
    background-color: #666666;
}

.acesso {
    background-color: #3a3939;
}

/* Ajustes para telas menores */
@media screen and (max-width: 768px) {
    .info {
        flex-direction: column;
        /* Coloca os itens um em cima do outro */
        min-height: auto;
        /* Ajusta a altura conforme necessário */
    }

    .horarios,
    .acesso,
    .contatos {
        flex: 1 1 100%;
        /* Ocupa 100% da largura */
        margin-bottom: 20px;
        /* Adiciona um espaçamento entre os itens */
    }
}
